@import url(/src/styles/global.css);

body{
    background-color: var(--cor-primaria);
}
 span{
    color: var(--cor-terciaria); 
 } 
.cabecalho{
    width: 100%;
    height: 150px; 

    background-color: var(--cor-secundaria);
    
    box-shadow:10px 5px 5px black;
}

.home{
}
    
    
.cabecalho_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0px 100px;
}
    
    
.cabecalho_Portifolio{
}
    
.cabecalho_home{
    padding: 30px;
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: large;
}
    
.cabecalho_home:hover{
    color:var(--cor-primaria);
}
.apresentacao_home{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-primaria);
}
.info_home{
    display: flex;
    gap: 199px;
    width: 80%;
    height: 70%;
    /* border: 2px black solid; */
}
.texto_home{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%;
}
h3{
    color: var(--cor-terciaria);
}
.h1_home{
    color: var(--cor-terciaria);
}
p{
    color: var(--cor-terciaria);
}
.apresentacao_about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-quarta);

}
.info_about{
    display: flex;
    gap: 199px;
    width: 80%;
    height: 70%;
 /* border: 2px black solid; */
}
.texto_about{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.h1_about{
    color: var(--cor-terciaria);
}
.apresentacao_contac{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-secundaria);

}
.info_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 70%;
    border: 2px black solid;
    gap: 24px;
}
.titulo_contact{
    display: flex;
    font-size: 42px;

}
.sub_contact{
    
    width: 500px;
}
.coisas_contac{
    height: 100%;
    width: 100%;
    border: 3px solid black;
}
    

