@import url(/src/styles/global.css);

body{
    background-color: var(--cor-primaria);
}
 span{
    color: white; 
 } 
.cabecalho{
    width: 100%;
    height: 150px; 

    background-color: var(--cor-secundaria);
    
    box-shadow:10px 5px 5px black;
}

.home{
}
    
.cabecalho_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0px 100px;
}
    
    
.cabecalho_Portifolio{
    color: var(--cor-terciaria);
}
    
.cabecalho_home{
    padding: 15px;
    color: grey;
    text-decoration: none;
    font-size: large;
}
    
.cabecalho_home:hover{
    color:var(--cor-primaria);
}
.apresentacao_home{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-primaria);
}
.info_home{
    display: flex;
    gap: 199px;
    width: 80%;
    height: 70%;
    /* border: 2px black solid; */
}
.texto_home{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%;
}
.button_home{
    background-color: var(--cor-terciaria);
    margin-top: 120px;
    width: 123px;
    height: 40px;
    border-radius: 5px;
}

h3{
    color: var(--cor-terciaria);
}
.h1_home{
    color: white;
}
.descricao{
    color: grey;
}
p{
    color: var(--cor-terciaria);
}
.apresentacao_about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-quarta);

}
.info_about{
    display: flex;
    gap: 199px;
    width: 80%;
    height: 70%;
 /* border: 2px black solid; */
}
.texto_about{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.h1_about{
    color: var(--cor-terciaria);
}
.apresentacao_contac{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-secundaria);

}
.info_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 70%;
    gap: 24px;
}
.titulo_contact{
    display: flex;
    font-size: 42px;

}
.sub_contact{
    
    width: 500px;
    margin-bottom: 56px;
}
.coisas_contac{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 223px;
    height: 100%;
    width: 100%;


}
.contatos_contact{
    font-size: larger;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 347px;
    height: 294px;


}
.contatos2_contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    width: 50%;
    height: 100%;


}
.name_contact{
    height: 63px;
    width: 350px;
    background-color: var(--cor-quarta);
    border-radius: 5px;

}
.message_contact{
    height: 166px;
    width: 540px;
    background-color: var(--cor-quarta);
    border-radius: 5px;
   

}
.contact_us_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    width: 123px;
    background-color: var(--cor-terciaria);
    border-radius: 5px;
}
.contact_us_color{
    color: var(--cor-secundariacor-terciaria);

}
.apresentacao_Service{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.info_service{
    width: 1110px;
    height: 567px;
    border: 3px solid black;
}
.texto_service{
    border: 3px solid black;
    width: 461px;
    height: 169px;
}
.services{
    width: 1110px;
    height: 342px;
    border: 3px solid black;
}


.apresentacao_Portfolio{
    width: 100%;
    height: 100vh;
    background-color: var(--cor-secundaria);
}
.apresentacao_Resume{
    width: 100%;
    height: 100vh;
}


